<a href="/login" class="listLink" style="font-size: 1rem" id="loginInfo"
  >Not logged in</a
>
<div id="BurgerWrapper" onclick="OpenMenu()">
  <div class="BurgerLine"></div>
  <div class="BurgerLine"></div>
  <div class="BurgerLine"></div>
</div>
<div class="hidden" id="MenuItems">
  <ul>
    <li><a class="listLink" href="/">Home</a></li>
    <li><a class="listLink" href="/projects">Articles</a></li>
    <li><a class="listLink" href="/Images">Images</a></li>
  </ul>
  <ul class="linkBar">
    <li>
      <a target="_blank" href="../../../TermsOfService" class="listLink"
        >Terms Of Service</a
      >
    </li>
    <li>
      <a target="_blank" href="../../../PrivacyPolicy" class="listLink"
        >Privacy Policy</a
      >
    </li>
  </ul>
</div>
