* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  z-index: 0;
  max-width: 100%;
  --color-dark: #232323;
  --color-darker: #1b1b1b;
  --text-color: #05b2dc;
}

::selection {
  background: var(--text-color);
  color: var(--color-dark);
}

#content {
  display: none;
}

html {
  --border-thickness: 5px;
  --vert-margins: 2.5vh;
  background-color: var(--color-darker);
}

.linkBar {
  list-style-type: none;
  margin-top: 2vh;
  position: sticky;
}

.linkBar li {
  display: inline-block;
  margin-right: 2vw;
  font-size: 1.125rem;
  padding-top: 0;
  font-weight: 400;
}

.listLink {
  padding: 0;
  margin-left: 2vw;
  text-decoration: none;
  color: var(--text-color);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(to top, var(--text-color), var(--text-color));
  background-size: 10% 1em, 0 0.15em;
  background-position: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  padding-bottom: 5px;
}

.listLink:hover,
.listLink:focus {
  background-size: 0 1em, 75% 0.15em;
}



body {
  min-height: 100vh;
  color: var(--text-color);
  width: 50%;
  margin-left: 25%;
  font-size: 20px;
  font-weight: 200;
}

header {
  padding-top: 2vh;
}

header h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.5em;
}

header h1 span {
  background-color: var(--text-color);
  color: var(--color-dark);
  padding: 0.25vh 0.5vw;
  border-radius: 15px;
}

header h3 {
  font-weight: 200;
  line-height: 25px;
  font-size: 1.25em;
}

#bio,
#skills,
#footer,
#project,
#create,
.borders {
  background-color: var(--color-dark);
  margin: 2vh 0;
  padding: 2vh 2vh;
  border-radius: 25px;
}

#skills ul {
  list-style-type: none;
}

#skills li {
  background-color: var(--color-darker);
  margin: 1vh 0;
  padding: 1vh 1vh;
  border-radius: 15px;
}

h3 {
  padding-bottom: 1vh;
}

#footer {
  text-align: center;
}

li p {
  padding-left: 5vw;
  font-weight: 200;
  padding-bottom: 1.5vh;
  font-size: 1em;
}

li {
  font-weight: 400;
  padding-top: 1vh;
}

.clearBtn {
  border: none;
  color: var(--text-color);
  float: right;
  font-size: 0.875rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(to top, var(--text-color), var(--text-color));
  background-size: 10% 1em, 0 0.15em;
  background-position: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  padding-bottom: 5px;
  cursor: pointer;
}

.clearBtn:hover,
.clearBtn:focus {
  background-size: 0 1em, 75% 0.15em;
}

.hidden {
  display: none;
}

nav {
  background-color: var(--color-dark);
  padding: 0 2vw;
  padding-bottom: 2vh;
  position: sticky;
  top: 0;
  z-index: 1;
  /* allign items vertically */
  align-items: center;
  /* border radius the bottom corners */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Add a bottom border to the nav */
  border-bottom: 1px solid var(--text-color);
}

nav ul,
.navStyle ul {
  list-style-type: none;
  display: flex;
  text-align: right;
  float: right;
}

nav ul li a,
.navStyle ul li a {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 200;
  padding-left: 5vw;
}

#LoadingScreen {
  margin-top: 50vh;
}

#LoadingScreen p {
  margin-top: 5vh;
}

#project a {
  color: var(--text-color);
  text-decoration: underline;
}

#dots:before {
  --primary: var(--text-color);
  display: block;
  height: 5px;
  width: 5px;
  content: '';
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
  border-radius: 100%;
  -webkit-box-shadow: 20px 0 0 5px var(--primary), -20px 0 0 5px var(--primary);
  box-shadow: 20px 0 0 5px var(--primary), -20px 0 0 5px var(--primary);
}

img {
  max-width: 50vw;
  max-height: 50vh;
}

#project {
  padding-bottom: 3vh;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.textBox {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 6px 6px 6px 12px;
  transition: width 0.4s ease-in-out;
  width: 40%;
}

.button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 12px;
}

#MyAccountPfp {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

#MyAccount {
  padding-left: 5vw;
}

.CommentProfilePicture {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

#SignUp ul {
  list-style-type: none;
  display: flex;
}

#comment {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-dark);
  max-width: 96%;
  min-width: 96%;
  min-height: 10vh;
  color: var(--text-color);
  font-size: 1rem;
}

#SubmitComment {
  background-color: var(--color-darker);
  color: var(--text-color);
  border: none;
  padding: 1.2vh 1.2vh;
  border-radius: 10px;
  cursor: pointer;
}

hr {
  border: 2px solid var(--color-darker);
  margin: 2.5vh 0;
}

#searchBar {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-darker);
  color: var(--text-color);
  font-size: 1rem;
}

#pfpThumbnail {
  border-radius: 25px;
  width: 20px;
  height: 20px;
  margin-right: 1vw;
}

#homeArticleLink {
  text-decoration: underline;
  color: var(--text-color);
}

/* Put both elements in #Like on the same line */
#Like {
  display: flex;
  flex-direction: row;
  /* Put the text on the left */
  justify-content: flex-start;
  /* Make sure teh elements are vertically aligned */
  align-items: center
}

#Like #likeBtn {
  margin-left: 1vw;
}

#title,
#appetizer,
#Content-field,
#tags {
  background-color: var(--color-darker);
  border: 0;
  color: var(--text-color);
  margin: 0.5vh 0;
  border-radius: 10px;
  padding: 5px
}

#Content-field {
  min-width: 45vw;
  max-width: 45vw;
  min-height: 30vh;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media only screen and (max-width: 1100px) {
  body {
    width: 80%;
    margin: 0;
    padding-left: 10%;
  }

  img {
    max-width: 80vw;
    max-height: 80vh;
  }
}

@media only screen and (max-width: 700px) {
  header h1 {
    font-size: 3.5rem;
  }

  body {
    width: 96%;
    padding-left: 2%;
    margin: 0;
  }

  img {
    max-width: 96vw;
    max-height: 96vh;
  }

  p {
    font-size: 1rem;
  }

  .clearBtn {
    font-size: 0.9rem;
  }

  #loginInfo {
    font-size: 0.9rem;
  }

  #skills ul {
    padding-left: 0;
  }

  .borders {
    padding: 4vh 2vw;
  }
}